<div class="footer">  
    <div class="container">
        <h4> Glad to see you here ! ❤ </h4>
        <br>
        <div class="footer2">
            <div class="left">
                <p> Queries / Collaborations ? &nbsp; </p>
                <a class="btn btn-light" href="lets-get-in-touch"> Let's get in touch </a>
                <br>
            </div>
    
            <div class="right">
                <p>
                    Refrences:
                    <br>
                    <a href="https://www.flaticon.com/"> Flat icons  </a>
                    <br>
                    <a href="https://freeicons.io/"> Free icons </a>
                </p>
            </div>
        </div>
    </div>
</div>
