<br>

<div class="container" id="top">
    <div class="mainDiv">
        <div class="sub sub-one">
            <img id="logo" src="../../assets/images/design_services_black_24dp.svg">
            <br>
            <h4>Designer</h4>
            <br>
            <span class="heading"> Things I enjoy designing: </span>
            <br>
            <p class="content"> UX, UI, Web, Mobile, Android Apps </p>
            <br> <br>
            <span class="heading"> Designing tools: </span>
            <br>
            <p class="content"> 
                Figma <br>
                Adobe XD <br>
                Sketch
            </p>
        </div>

        <div class="sub sub-two">
            <img id="logo" src="../../assets/images/code_black_24dp.svg">
            <br>
            <h4>Full-Stack Developer</h4>
            <br>
            <span class="heading"> Languages I love working with: </span>
            <br>
            <p class="content"> HTML, CSS, Angular, Typescript, Core Java, Springboot, Spring MVC, H2 In memory database, MySQL, Xampp Server </p>
            <br> <br>
            <span class="heading"> Dev tools: </span>
            <br>
            <p class="content"> 
                Visual Studio Code <br>
                Bootstrap <br>
                JSP <br>
                Intelli J Idea
            </p>
        </div>

        <div class="sub sub-three">
            <img id="logo" src="../../assets/images/integration_instructions_black_24dp.svg">
            <br>
            <h4>Game Developer</h4>
            <br>
            <p>
                Not a pro though, but I develop basic games, like 3D car racing, 2D snake and ladder etc.
            </p>
            <br>
            <span class="heading"> Languages I mostly use: </span>
            <br>
            <p class="content"> C#, Java </p>
            <br> <br>
            <span class="heading"> Dev tools: </span>
            <br>
            <p class="content"> 
                Unity Engine
            </p>
        </div>
    </div>
</div>

<!-- My Projects -->
<app-portfolio></app-portfolio>

<!-- My Resume -->
<app-resume></app-resume>

<!-- My Skills -->
<app-projects></app-projects>

<!--Footer-->
<app-footer></app-footer>

<router-outlet></router-outlet>